<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SUDHASTAR</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="/static/img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet"> 
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
        <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="/static/lib/flaticon/font/flaticon.css" rel="stylesheet">
        <link href="/static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
        <!-- Template Stylesheet -->
        <link href="/static/css/style.css" rel="stylesheet">
        
        {% block head %}{% endblock %}
      
    </head>

    <body>
        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-light navbar-light">
            <div class="container-fluid">
                <a href="{% url 'index' %}" class="navbar-brand">
                    <img src="{% static 'img/sudhastar.jpg' %}" alt="SudhaStar Logo" style="height: 250px; width: auto;">

                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="{% url 'index' %}" class="nav-item nav-link active text-dark ">Home</a>
                       <!-- <a href="{% url 'about' %}" class="nav-item nav-link text-dark ">About</a> 
                       <a href="{% url 'team' %}" class="nav-item nav-link">Our Bands</a>-->
                        <a href="{% url 'all_dishes' %}" class="nav-item nav-link text-dark  ">Menu</a>
                        <a href="{% url 'contact' %}" class="nav-item nav-link text-dark ">Contact</a>
                        {% if user.is_authenticated %}
                        <div class="nav-item dropdown ">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-user "></i></a>
                            <div class="dropdown-menu">
                            {% if user.is_superuser or user.is_staff %}
                                <a href="{% url 'admin:index' %}" class="dropdown-item">Dashboard</a>
                            {% else %}
                                <a href="{% url 'dashboard' %}" class="dropdown-item">Dashboard</a>
                            {% endif %}
                                <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                            </div>
                        </div>
                        {% else %}
                        <a href="{% url 'register' %}" class="nav-link" ><i class="fas fa-user"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->
        
        {% block content %}

        {% endblock %}
<!-- Footer Start -->
<div class="footer" style="background-image: url('/static/img/white.png'); background-size: cover; background-position: center; color: #fff;">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-contact">
                            <h2 style="color: #ff9100;">Our Address</h2>
                            <p style="font-weight: bold;"><i class="fa fa-map-marker-alt"></i> Hiranandani Estate Street, Thane West, Maharashtra, India, 400607</p>
                            <p style="font-weight: bold;"><i class="fa fa-phone-alt"></i> +91 98927 31302</p>
                            <p style="font-weight: bold;"><i class="fa fa-envelope"></i> sudhastar.edu.in@gmail.com</p>
                            <div class="footer-social">
                                <a href="" style="color: #f5f3f5;"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.youtube.com/@sritaramamission" style="color: #fdfdfd;"><i class="fab fa-youtube"></i></a>
                                <a href="https://www.facebook.com/profile.php?id=61552864778211&mibextid=ZbWKwL" target="_blank" style="color: #f2edf1;"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.instagram.com/mysudhamrit?igsh=cnMwMjZnMnZxcmk2" style="color: #f1f1f1;"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-link">
                            <h2 style="color: #ff9d00;">Quick Links</h2>
                            <a href="terms.html" style="color: #0a0a0a;">Terms of use</a>
                            <a href="privacy_policy.html" style="color: #0a0a0a;">Privacy policy</a>
                            <a href="cookies.html" style="color: #0a0a0a;">Cookies</a>
                            <a href="help.html" style="color: #0a0a0a;">Help</a>
                            <a href="FAQs.html" style="color: #0a0a0a;">FAQs</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="footer-newsletter">
                    <h2 style="color: #ff9500;">Newsletter</h2>
                    <p>
                        <span style="font-weight: bold; color: #ff9100;">Sudhastar Monthly Delight Subject Line :</span> Experience the True Taste of Tradition with Sudhastar!
                        <br>Welcome to Sudhastar! Your go-to destination for authentic Indian sweets, savories, and specialty food batters.
                        <br><span style="font-weight: bold; color: #ff9100;">Offer Of The Month :</span> Festive Combo: Buy 1kg of sweets and get 500g of savory snacks FREE!
                        <br>Special Discount: 20% off on all batters for first-time customers!
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-center py-3" style="background: transparent" >
        <strong style="color: #0b0b0b;">Copyright &copy; <a href="#" style="color: #f30808;">Sudhastar.in</a>, All Right Reserved.</strong>
    </div>
</div>
<!-- Footer End -->

<a href="#" class="back-to-top" style="background-color: #f76c6c; color: #000;"><i class="fa fa-chevron-up"></i></a>
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="/static/lib/easing/easing.min.js"></script>
        <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/static/lib/tempusdominus/js/moment.min.js"></script>
        <script src="/static/lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="/static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
        
        <!-- Contact Javascript File -->
        <script src="/static/mail/jqBootstrapValidation.min.js"></script>
        <script src="/static/mail/contact.js"></script>

        <!-- Template Javascript -->
        <script src="/static/js/main.js"></script>
        {% block script %}{% endblock %}
    </body>
</html>
